<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

{{!-- WELCOME MESSAGE --}}
        <h1>{{msg}}</h1>

{{!-- BUTTONS --}} 
<a href="/newgame"><button type="button" id="newGame" class="btn btn-primary btn-lg">New Game</button></a>
<a href="/congame"><button type="button" id="conGame" class="btn btn-secondary btn-lg">Continue Game</button></a>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/main.js"></script>