<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">{{msg}}</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>